@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  box-sizing: border-box;
}

.logo {
  background-image: url(../public/Logo-Black.png);
}

.service {
  background-image: url(../public/services.jpg);
}

.help {
  background-image: url(../public/help.jpg);
}
/* 
.about-us {
  background-image: url(../public/About\ Us\ -\ Poster.png);
} */

.service-item:first-child {
  margin-top: 2rem;
}

.service-title {
  transition: all 1s ease;
}

.service-title:hover > .service-icon-wrap > .service-icon {
  font-size: 20px;
}

.service-icon {
  transition: font-size 1s ease-in;
}

.modal,
.service-modal-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
}

.service-modal-overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  width: 800px;
  min-width: 300px;
}

body.active-service-modal {
  overflow-y: hidden;
}

.poster-bg {
  background-image: radial-gradient(circle at 80.5833371480306% 49.166666666666664%, #ffffff 0%, 5.200000000000001%, rgba(255, 255, 255, 0) 13%),
    radial-gradient(circle at 20% 97.16666539510092%, #ffffff 0%, 14%, rgba(255, 255, 255, 0) 35%),
    radial-gradient(circle at 88.50000381469727% 9.833354155222574%, #73bff8 0%, 19%, rgba(115, 191, 248, 0) 38%),
    radial-gradient(circle at 88.16666920979817% 94.50000127156576%, #ffffff 0%, 17.68%, rgba(255, 255, 255, 0) 34%),
    radial-gradient(circle at 8.000040849049887% 44.50000127156575%, #010143 0%, 43.550000000000004%, rgba(1, 1, 67, 0) 65%),
    radial-gradient(circle at 92.5% 74.50000127156575%, #ff8517 0%, 42%, rgba(255, 133, 23, 0) 70%),
    radial-gradient(circle at 48.9013671875% 49.521484375%, #faece1 0%, 100%, rgba(250, 236, 225, 0) 100%);
}

.about-content-header {
  background-image: radial-gradient(circle at 52.00000127156576% 100%, #ffffff 0%, 17.5%, rgba(255, 255, 255, 0) 35%),
    radial-gradient(circle at 0% 27.83333460489909%, #ffffff 0%, 17.5%, rgba(255, 255, 255, 0) 35%), radial-gradient(circle at 38.66666793823242% 0%, #ffffff 0%, 17.5%, rgba(255, 255, 255, 0) 35%),
    radial-gradient(circle at 80.5833371480306% 49.166666666666664%, #ffffff 0%, 5.200000000000001%, rgba(255, 255, 255, 0) 13%),
    radial-gradient(circle at 20% 97.16666539510092%, #ffffff 0%, 14%, rgba(255, 255, 255, 0) 35%),
    radial-gradient(circle at 88.50000381469727% 9.833354155222574%, #73bff8 0%, 19%, rgba(115, 191, 248, 0) 38%),
    radial-gradient(circle at 88.16666920979817% 94.50000127156576%, #ffffff 0%, 17.68%, rgba(255, 255, 255, 0) 34%),
    radial-gradient(circle at 0% 61.16666793823242%, #010143 0%, 43.550000000000004%, rgba(1, 1, 67, 0) 65%),
    radial-gradient(circle at 92.5% 74.50000127156575%, #ff8517 0%, 42%, rgba(255, 133, 23, 0) 70%),
    radial-gradient(circle at 48.9013671875% 49.521484375%, #faece1 0%, 100%, rgba(250, 236, 225, 0) 100%);
}

.home-header {
  background-image: radial-gradient(circle at 0% 100%, #97b49d 0%, 24%, rgba(151, 180, 157, 0) 24%),
    radial-gradient(circle at 3.9697265625% 36.10026041666667%, #27784f 0%, 35%, rgba(39, 120, 79, 0) 35%),
    radial-gradient(circle at 27.496744791666668% 92.77994791666667%, #004623 0%, 40%, rgba(0, 70, 35, 0) 40%),
    radial-gradient(circle at 53.3837890625% 100%, rgba(215, 53, 1, 0.99) 0%, 50%, rgba(215, 53, 1, 0) 50%),
    radial-gradient(circle at 42.286783854166664% 20.615234375%, #ff4401 0%, 70%, rgba(255, 68, 1, 0) 70%),
    radial-gradient(circle at 93.6865234375% 11.42578125%, #ffb993 0%, 70%, rgba(255, 185, 147, 0) 70%),
    radial-gradient(circle at 48.9013671875% 49.521484375%, #faece1 0%, 100%, rgba(250, 236, 225, 0) 100%);
}

.worker-img {
  height: 100%;
}

input.input-star {
  
}

.label-star {
  color: orange;
  transition: all 0.2s ease;
}

input.input-star:not(:checked) ~ .label-star:hover,
input.input-star:not(:checked) ~ .label-star:hover ~ .label-star {
  color: green;
}

.input-star:checked ~ .label-star {
  color: red;
}